
em {
    font-weight: bold;
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: blue;
    text-decoration-style: dashed;
    color: red;
}

body {
    background-image: url('Images/dog.jpg');
    background-color: pink;
}

h1 {
border: 2px blue dashed;
padding: 7px;
margin-bottom: 50px;
}

img {
    border: 4px pink solid;
}

.three-d-text {
    text-shadow: 5px 10px 5px grey;
}
.my-h2 {
    font-size: 17em;
}

